footer {
    padding-top: 30px;
    margin-top: 50px;
    background-color: rgb(238, 238, 238);
    overflow: hidden;
    .footer-up {
        .galleries, .company, .contact {
            width: 380px;
        }
    }

    .galleries, .company, .contact {
        h3 {margin-bottom: 20px;}
    }
    
    .galleries {
        .gallery {
            margin-bottom: 5px;
            overflow: hidden;
            .gallery-image {
                width: 30%;
                float: $float-left;
                @include media($xsmall) {
                    width: 100%;
                }
                img {
                    max-width: 100%;
                    @include bordered;
                }
            }
            .gallery-infos {
                width: 70%;
                float: $float-left;
                padding-left: 10px;
                @include media($xsmall) {
                    width: 100%;
                }
                h4 {
                    color: $main-color;
                    margin-top: 20px;
                }
                p {
                    font-size: 14px;
                    color: $second-color;
                    line-height: 1.5;
                    margin-top: 5px;
                }
            }
        }
    }
    
    .company {
        p {
            font-size: 14px;
            color: $second-color;
            
            margin-top: 10px;
            span {
                color: $main-color
            }
        }
    }
    .contact {
        input[type='text'], input[type='email'], textarea {
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
        }
        textarea {
            height: 100px;
            resize: none;
        }
    }
}