
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
    @include prefixer(box-sizing, border-box, webkit, moz); 
    padding: 0; 
    margin: 0;
    font-family: 'Lato', sans-serif;
}

ul, ol {list-style-type: none;}

a {text-decoration: none;}

input, textarea {
    outline: none;
    border: none;
    border-bottom: 2px solid transparent;
    background-color: rgba(#fff, .5);
    @include prefixer(transition, all .3s ease-in-out, webkit, moz);
    &:focus {
        border-color: $main-color;
    }
}


