
//size screen for different devices
$xsmall: "(max-width: 767px)";
$small: "(min-width: 768px)" + " and " + "(max-width: 991px)";
$medium: "(min-width: 992px)" + " and " + "(max-width: 1199px)";
$large: "(min-width: 1200px)";

//main colors
$main-color: red;
$second-color: rgb(185, 185, 185);
$third-color: rgb(200, 200, 200);

//floats
$float-right: right;
$float-left: left;